<%- include("partials/header") %>

    <link href="/styles/seeMore.css" rel="stylesheet">
    <div class="main">
        <div class="second_main">
            <h3 class="shead">Small Plates</h3>
            <% datas.forEach(data=> { %>
                <div class="first">
                    <div class="second">
                        <p class="name">
                            <%= data.name %>
                        </p>
                        <p class="brief">
                            <%= data.brief %>   
                        </p>
                        <p class="price"><%= data.price %>US$.00 </p>

                    </div>
                    <div class="third">
                        <img class="simg" src="<%= data.img %>">
                    </div>
                </div>

                <% }); %>
        </div>


        <div class="second_main">
            <h3 class="shead">Soups and Salads</h3>
            <% datas1.forEach(data=> { %>
                <div class="first">
                    <div class="second">
                        <p class="name">
                            <%= data.name %>
                        </p>
                        <p class="brief">
                            <%= data.brief %>
                        </p>
                        <p class="price">US$<%= data.price %>.00 </p>

                    </div>
                    <div class="third">
                        <img class="simg" src="<%= data.img %>">
                    </div>
                </div>

                <% }); %>
        </div>

        <div class="second_main">
            <h3 class="shead">Essentials</h3>
            <% datas2.forEach(data=> { %>
                <div class="first">
                    <div class="second">
                        <p class="name">
                            <%= data.name %>
                        </p>
                        <p class="brief">
                            <%= data.brief %>
                        </p>
                        <p class="price">US$<%= data.price %>.00 </p>

                    </div>
                    <div class="third">
                        <img class="simg" src="<%= data.img %>">
                    </div>
                </div>

                <% }); %>
        </div>


        <div class="second_main">
            <h3 class="shead">Meat and Fish</h3>
            <% datas3.forEach(data=> { %>
                <div class="first">
                    <div class="second">
                        <p class="name">
                            <%= data.name %>
                        </p>
                        <p class="brief">
                            <%= data.brief %>
                        </p>
                        <p class="price">US$<%= data.price %>.00 </p>

                    </div>
                    <div class="third">
                        <img class="simg" src="<%= data.img %>">
                    </div>
                </div>

                <% }); %>
        </div>

        <div class="second_main">
            <h3 class="shead">Soft Drinks</h3>
            <% datas4.forEach(data=> { %>
                <div class="first">
                    <div class="second">
                        <p class="name">
                            <%= data.name %>
                        </p>
                        <p class="brief">
                            <%= data.brief %>
                        </p>
                        <p class="price">US$<%= data.price %>.00 </p>

                    </div>
                    <div class="third">
                        <img class="simg" src="<%= data.img %>">
                    </div>
                </div>

                <% }); %>
        </div>



        <div class="second_main">
            <h3 class="sname">Desserts</h3>
            <% datas5.forEach(data=> { %>
                <div class="first">
                    <div class="second">
                        <p class="name">
                            <%= data.name %>
                        </p>
                        <p class="brief">
                            <%= data.brief %>
                        </p>
                        <p class="price">US$<%= data.price %>.00 </p>

                    </div>
                    <div class="third">
                        <img class="simg" src="<%= data.img %>">
                    </div>
                </div>

                <% }); %>
        </div>

        <div class="second_main">
            <h3 class="shead">Wine</h3>
            <% datas6.forEach(data=> { %>
                <div class="first">
                    <div class="second">
                        <p class="name">
                            <%= data.name %>
                        </p>
                        <p class="brief">
                            <%= data.brief %>
                        </p>
                        <p class="price">US$<%= data.price %>.00 </p>

                    </div>
                    <div class="third">
                        <img class="simg" src="<%= data.img %>">
                    </div>
                </div>

                <% }); %>
        </div>

    </div>

    <%- include("partials/footer") %>