<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>
    <style>
        .loader {
            font-size: 10px;
            margin: 50px auto;
            text-indent: -9999em;
            width: 4em;
            height: 4em;
            border-radius: 50%;
            background: #6f9730;
            background: -moz-linear-gradient(left, #6f9730 10%, rgba(111, 151, 48, 0) 42%);
            background: -webkit-linear-gradient(left, #6f9730 10%, rgba(111, 151, 48, 0) 42%);
            background: -o-linear-gradient(left, #6f9730 10%, rgba(111, 151, 48, 0) 42%);
            background: -ms-linear-gradient(left, #6f9730 10%, rgba(111, 151, 48, 0) 42%);
            background: linear-gradient(to right, #6f9730 10%, rgba(111, 151, 48, 0) 42%);
            position: relative;
            -webkit-animation: load3 1.4s infinite linear;
            animation: load3 1.4s infinite linear;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
        }

        .loader:before {
            width: 50%;
            height: 50%;
            background: #6f9730;
            border-radius: 100% 0 0 0;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
        }

        .loader:after {
            background: #fafafa;
            width: 75%;
            height: 75%;
            border-radius: 50%;
            content: '';
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        @-webkit-keyframes load3 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes load3 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }



        :root {
            --border-color: #D7DBE3;
            font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
            --green: #0CD977;
            --red: #FF1C1C;
            --pink: #FF93DE;
            --purple: #5767ED;
            --yellow: #FFC61C;
            --rotation: 0deg;
        }

        body {
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;

        }

        .modal {
            width: 300px;
            margin: 0 auto;
            border: 1px solid var(--border-color);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
            background-color: #fff;
            border-radius: 0.25rem;
            padding: 2rem;
            z-index: 1;
        }

        .emoji {
            display: block;
            text-align: center;
            font-size: 5rem;
            line-height: 5rem;
            transform: scale(0.5);
            animation: scaleCup 2s infinite alternate;
            padding: 10px;
            width: 100px;
            height: 100px;
        }

        .round {
            border-radius: 100px;
            border: 1px solid #000;
        }

        @keyframes scaleCup {
            0% {
                transform: scale(0.6);
            }

            100% {
                transform: scale(1);
            }
        }

        h1 {
            text-align: center;
            font-size: 1em;
            margin-top: 20px;
            margin-bottom: 20px;
        }


        .modal-btn {
            display: block;
            margin: 0 -2rem -2rem -2rem;
            padding: 1rem 2rem;
            font-size: .75rem;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            font-weight: 600;
            border-radius: 0 0 .25rem .25rem;
            background-color: var(--green);
            text-decoration: none;
        }

        @keyframes confettiRain {
            0% {
                opacity: 1;
                margin-top: -100vh;
                margin-left: -200px;
            }

            100% {
                opacity: 1;
                margin-top: 100vh;
                margin-left: 200px;
            }
        }

        .confetti {
            opacity: 0;
            position: absolute;
            width: 1rem;
            height: 1.5rem;
            transition: 500ms ease;
            animation: confettiRain 5s infinite;
        }

        #confetti-wrapper {
            overflow: hidden !important;
        }
        .we{
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
 
        }
        .content {
            text-align: center;
            font-size: 65px;
            font-family: 'Satisfy', cursive;
            color: #6F9730;

        }
    </style>
    <div class="loader loader-wrapper" id="loader">
        <div class="loader">Loading...</div>
    </div>



    <div class="we">
        <h1 class="content" id="content">You Booked table</h1>
    </div>
    <div class="content" id="confetti-wrapper">



        <!-- Billin Section -->

        
        <button onclick="myFunction()">Download</button>

        <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
        <script> function myFunction() { 

            if ("<%=reservation.seat%>" === "Premium") {
                var price = 800 
            } else {
                var price = 200 
            }
                    
                var data = {
                // If not using the free version, set your API key
                // "apiKey": "123abc", // Get apiKey through: https://app.budgetinvoice.com/register
        
                // Customize enables you to provide your own templates
                // Please review the documentation for instructions and examples
                "customize": {
                    //  "template": fs.readFileSync('template.html', 'base64') // Must be base64 encoded html 
                },
                "images": {
                    // The logo on top of your invoice
                    // "logo": "https://public.budgetinvoice.com/img/logo_en_original.png",
                    // The invoice background
                    // "background": "https://public.budgetinvoice.com/img/watermark-draft.jpg"
                },
                // Your own data
                "sender": {
                    "company": "Bevri",
                    "address": "325 Main St, Los Altos, CA 94022, United States",
                    "city": "Los Altos",
                    "country": "Georgia"
                    //"custom1": "custom value 1",
                    //"custom2": "custom value 2",
                    //"custom3": "custom value 3"
                },
                // Your recipient
                "client": {
                    "company": "<%= reservation.username %>",
                    "address": "<%= reservation.number %>"
                    // "zip": "4567 CD",
                    // "city": "Clientcity",
                    // "country": "Clientcountry"
                    // "custom1": "custom value 1",
                    // "custom2": "custom value 2",
                    // "custom3": "custom value 3"
                },
                "information": {
                    // Invoice number
                    "number": "2021.0001",
                    // Invoice data
                    "date": "<%= reservation.date %>",
                    // Invoice due date
                    // "due-date": "31-12-2021"
                },
                // The products you would like to see on your invoice
                // Total values are being calculated automatically
                "products": [
                    {
                        "quantity":"<%=reservation.people %>"  ,
                        "description": "<%= reservation.restaurant%>, <%=reservation.seat%> seat",
                        "tax-rate": 18,
                        "price":  price
                    }
                    // {
                    //     "quantity": 4.1,
                    //     "description": "Product 2",
                    //     "tax-rate": 6,
                    //     "price": 12.34
                    // },
                    // {
                    //     "quantity": 4.5678,
                    //     "description": "Product 3",
                    //     "tax-rate": 21,
                    //     "price": 6324.453456
                    // }
                ],
                // The message you would like to display on the bottom of your invoice
                "bottom-notice": "Kindly pay your invoice within 2 to 4 hours.",
                // Settings to customize your invoice
                "settings": {
                    "currency": "INR", // See documentation 'Locales and Currency' for more info. Leave empty for no currency.
                    // "locale": "nl-NL", // Defaults to en-US, used for number formatting (See documentation 'Locales and Currency')        
                    // "margin-top": 25, // Defaults to '25'
                    // "margin-right": 25, // Defaults to '25'
                    // "margin-left": 25, // Defaults to '25'
                    // "margin-bottom": 25, // Defaults to '25'
                    // "format": "A4", // Defaults to A4, options: A3, A4, A5, Legal, Letter, Tabloid
                    // "height": "1000px", // allowed units: mm, cm, in, px
                    // "width": "500px", // allowed units: mm, cm, in, px
                    // "orientation": "landscape", // portrait or landscape, defaults to portrait
                },
                // Translate your invoice to your preferred language
                "translate": {
                    // "invoice": "FACTUUR",  // Default to 'INVOICE'
                    // "number": "Nummer", // Defaults to 'Number'
                    // "date": "Datum", // Default to 'Date'
                    // "due-date": "Verloopdatum", // Defaults to 'Due Date'
                    // "subtotal": "Subtotaal", // Defaults to 'Subtotal'
                    // "products": "Producten", // Defaults to 'Products'
                    // "quantity": "Aantal", // Default to 'Quantity'
                    // "price": "Prijs", // Defaults to 'Price'
                    // "product-total": "Totaal", // Defaults to 'Total'
                    // "total": "Totaal", // Defaults to 'Total'
                    "vat": "gst" // Defaults to 'vat'
                },
            };
        
            //Create your invoice! Easy!
            easyinvoice.createInvoice(data, function (result) {
                //The response will contain a base64 encoded PDF file
                console.log(result.pdf);
                // await fs.writeFileSync("invoice.pdf", result.pdf, 'base64');            
                easyinvoice.download('Invoice.pdf');
            });
         }
        </script>

        <script src="/JS/Hide.js"></script>
</body>

</html>